---
---

// TODO: Refactor to represent component / design choices made on this page.
$link-color: #1ba8ff;

@mixin mat-h1 {
  font-size: 6rem;
  line-height: 1.16;
  letter-spacing: -1.5;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5rem;
}

@mixin mat-h2 {
  font-size: 3.75rem;
  line-height: 1.36;
  letter-spacing: -0.5;
  font-weight: 300;
  margin: 0;
  margin-bottom: 2.5rem;
}

@mixin mat-h3 {
  font-size: 3rem;
  line-height: 1.36;
  letter-spacing: -0.5;
  margin: 0;
  margin-bottom: 1.25rem;
}

@mixin mat-h4 {
  font-size: 2.125rem;
  letter-spacing: 0.25;
  line-height: 1.36;
  font-weight: 400;
  margin-bottom: 1rem;
}

@mixin mat-h5 {
  font-size: 1.5rem;
  line-height: 1.375;
  font-weight: 400;
}

@mixin h1 {
  @include mat-h1;

  @media (max-width: 720px) {
    @include mat-h2;
  }
}

@mixin h2 {
  @include mat-h2;

  @media (max-width: 720px) {
    @include mat-h3;
  }
}

@mixin h3 {
  @include mat-h3;

  @media (max-width: 720px) {
    @include mat-h4;
  }
}

@mixin h4 {
  @include mat-h4;

  @media (max-width: 720px) {
    @include mat-h5;
  }
}

@mixin body {
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: 0.5;
}

@mixin monospace {
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  letter-spacing: 0.83;
}

@mixin cta($bg, $fg) {
  a {
    background: $bg;
    outline-color: $bg;
    color: $fg;
    display: block;
    border-radius: 4px;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 40px;
    will-change: transform;
    transition: transform 100ms ease;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      background: lighten($bg, 10);
    }

    @content
  }
}

a {
  text-decoration: none;
  color: $link-color;
  outline-color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: lighten($link-color, 20)
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #121212;
  @include body;
}

h1, h2, h3, h4 {
  @media (max-width: 600px) {
    text-align: center;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

main {
  margin-bottom: 20px;
}

main > section {
  padding: 20px 80px;

  @media (max-width: 600px) {
    padding: 20px;
  }
}

footer {
  padding: 20px 8px;
  p {
    text-align: center;
    color: rgba(black, 0.54);
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0.25;
  }
}

#hello {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  background-image: url(/assets/images/chevron-down.svg);
  background-position: 50% 95%;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 3fr;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 720px) {
    h1 {
      @include h2;
    }
    h2 {
      @include h3;
    }
  }

  @media (max-width: 600px) {
    justify-items: center;
  }

  .quip {
    grid-row: 1;
    grid-column: 2;

    @media (max-width: 1080px) {
      grid-column: 1;
    }
  }

  .name {
    border-bottom: 1px solid white;
    display: inline-block;
  }

  .cta-wrapper {
    grid-row: 2;
    grid-column: 2;
    @media (max-width: 1080px) {
      grid-column: 1;
    }
    justify-self: end;

    @include cta($link-color, white) {
      @include monospace
    }

    @media (max-width: 600px) {
      justify-self: center;
    }
  }
}

.storybook-layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
  }

  .content {
    grid-row: 1;
    grid-column: 2;
    @media (max-width: 1080px) {
      grid-column: 1;
    }
    max-width: 800px;
  }
}

#experience {
  background: url(/assets/images/experience-bg.jpg) center center no-repeat fixed;
  background-size: cover;
  @media (max-width: 800px) {
    background: #52539c;
  }
  color: white;

  .content {
    &-intro {
      padding: 8px;
      background: rgba(black, 0.6);
      margin-bottom: 0;
      border-top: {
        right-radius: 4px;
        left-radius: 4px;
      }
    }
  }

  .project {
    padding: 8px;
    background: rgba(white, .8);
    color: #121212;
    border-bottom: 1px solid rgba(black, 0.2);
    &:last-child {
      border-bottom: none;
      border-bottom: {
        left-radius: 4px;
        right-radius: 4px;
      }
    }

    &-title {
      @include h4
    }
  }
}

#skills-frontend {
  h2 {
    @include h3
  }

  h3 {
    @include h4
  }

  .solution {
    h3 {
      margin: 20px 0;
    }

    ul {
      margin: 0;
    }

    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#skills-backend {
  background: #121212;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 3fr;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
  }

  h2 {
    grid-row: 1;
    grid-column: 2;
    @media (max-width: 1080px) {
      grid-column: 1;
    }
    color: white;
  }

  .content {
    @include body;
    max-width: 800px;
    grid-row: 2;
    grid-column: 2;
    @media (max-width: 1080px) {
      grid-column: 1;
    }
    color: white;
  }

  .cta-wrapper {
    grid-row: 3;
    grid-column: 2;
    @media (max-width: 1080px) {
      grid-column: 1;
    }
    @media (max-width: 600px) {
      justify-self: center;
    }
    justify-self: end;
    align-self: center;
    @include cta($link-color, white) {
      font-family: 'Open Sans', sans-serif;
    }
  }
}

@mixin social-bg($bgurl) {
  background: url($bgurl) center center no-repeat fixed;
  background-size: cover;
}

#contact {
  h1 {
    text-align: center;
    margin: 40px 0;
  }

  .social-icons {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;

    li {
      list-style-type: none;
      text-align: center;
      margin-right: 8px;
      &:last-child {
        margin-right: none;
      }
    }
  }

  .social-icon {
    $xf: 200ms ease;

    width: 96px;
    height: 96px;
    @media (max-width: 600px) {
      width: 64px;
      height: 64px;
    }
    display: block;
    position: relative;

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform $xf;
    }

    &-text {
      @include body;
      text-decoration: none;
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      width: 100%;
      text-align: center;
      opacity: 0;
      color: $link-color;
      transition: opacity $xf;
    }

    &:hover,
    &:active {
      .social-icon-img {
        transform: translateY(-1.25rem);
      }

      .social-icon-text {
        opacity: 1;
      }
    }
  }
}
